/* estilos.css */
/* src/index.css o src/App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* estilos.css */

body {
  background-color: #f0f0f0; /* Color de fondo para todo el cuerpo */
}

.sidebar {
  width: 200px; /* Ancho del sidebar */
  height: 100%; /* Altura completa del sidebar */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* Asegura que esté por encima del contenido principal */
  overflow-y: auto; /* Permite hacer scroll en caso de contenido largo */
  background-color: #343a40; /* Color de fondo del sidebar */
  padding-top: 20px; /* Espacio superior */
}

.sidebar-content {
  padding: 0 15px;
}

.sidebar .btn {
  width: 100%;
  margin-bottom: 10px;
}

.main-content {
  margin-left: 200px; /* Espacio a la izquierda del contenido principal */
  padding: 20px; /* Espaciado interno */
}

.card {
  border-radius: 10px; /* Bordes redondeados para las tarjetas */
  margin-right: 1rem;
}

.card-body {
  padding: 20px;
  
}

.text-white {
  color: white; /* Texto blanco */
}

.title {
  margin-left: 200px; /* Ajusta este valor según sea necesario */
  margin-top: 20px; /* Espacio adicional superior para mover el texto hacia abajo */
}

.card-container {
  flex: 0 0 22%; /* Ajusta el tamaño de las cards */
  max-width: 4.5cm;
  margin: 0 0.5rem; /* Reducir el espacio entre las cards */
  margin-left: 0; /* Elimina el margen izquierdo para mover las cards hacia la izquierda */
}

.latest-tables {
  margin-top: 1cm;
  margin-left: 200px;
}

.latest-tables h2 {
  color: #fff;
  margin-bottom: 20px;
}

.table {
  margin-bottom: 200px;
}

.table th, .table td {
  text-align: center;
}

.table thead th {
  background-color: #454d55;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.table-dark th, .table-dark td, .table-dark thead th {
  border-color: #32383e;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Estilos para ParentsManager */

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.btn {
  margin-right: 10px;
}

.form-control {
  width: 100%;
}

.table {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* Estilos específicos para los botones de acción en la tabla */
.table-actions button {
  margin-right: 5px;
}


/* Profe.css */

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40; /* bg-dark */
  color: white;
  padding-top: 20px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .btn {
  width: 100%;
  margin-bottom: 10px;
}

.cards-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.card-blue {
  background-color: #007bff;
}

.card-green {
  background-color: #28a745;
}

.card-orange {
  background-color: #8496a0;
}

.card-red {
  background-color: #ff909b;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-content {
  font-size: 2em;
}

.table-dark {
  background-color: #343a40;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
