
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h1,
  h2 {
    color: #007bff;
  }
  
  
  .table {
    margin-top: 20px;
  }
  

  .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  
  .table .btn {
    padding: 5px 10px;
    font-size: 14px;
  }
  
 
  .btn {
    cursor: pointer;
    margin-right: 5px;
  }
  
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  
  .table-course-students tbody tr:nth-child(odd) {
    background-color: #e9ecef;
  }
  
 
  .table-course-students th {
    background-color: #007bff;
    color: white;
  }
  
  
  .table-course-students .btn {
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  
  .table-course-students .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .table-course-students .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .table-course-students .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .table-course-students .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .table-course-students .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  